<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        {{>header}} 
        <div class="main-content">
            
            <br/>
            <img src="img/Warframe0012.jpg" />
            <br/>
            "Honestly i'm just following a tutorial"
        </div>
        {{>footer}}
    </body>
</html>