<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <script src="/js/app.js"></script>
    </head>

    <body>
        {{>header}} 
        <div class="main-content">
             <form id="form-location">
                 <input id="addressInput" placeholder="Location">
                 <button>Search</button>
            </form>
            <div id="resTxt">
                <div id="location">

                </div>
                <div id="currentTemp">
                    
                </div>
                <div id="feelsTemp">
                    
                </div>
                <div id="humidity">
                    
                </div>
            </div>
        </div>
        {{>footer}} 
    </body>
</html>